.container{
    margin-bottom: 80px;
}

.orangr-bg{
    background: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}

.buy-no-btn{
    background-image: linear-gradient(to bottom, #ff589b 0%,#ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    cursor: pointer;
    /* display: inline; */
    
}

.cat1 , .cat2, .cat3{
    padding: 10px 25px;
    border-radius: 20px;
}
.cat1{
    background-color: #2744e9;
    color: #fff;
}
.cat2{
    background-color: orange;
}
.cat3{
    background-color: tomato;
}
.categories img{
    width: 140px;
}

.shoes .buy-no-btn{
    width: 150px;
}

.card{
    border: none;
    box-shadow: 10px 10px 20px #665959;
    border-radius: 20px;
}
.ftr{
    background-color: #fceae8;
    height: 300px;
    border-radius: 20px;
}